In [159]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [160]:
def crypto_scrapping():

    url_btc = "https://es.finance.yahoo.com/quote/BTC-EUR/history?p=BTC-EUR"
    html = requests.get(url_btc)
    soup = BeautifulSoup(html.content,"html.parser")

    table = soup.find_all('table')[0]
    body = table.find_all('tbody')[0]
    tabla_btc = []
    for f in body.find_all("tr"): #lista con las filas de la  tabla
        fila = [e for e in f.find_all("td")] # elementos dentro de la fila
        if len(fila) > 0 :
            crypto = {
                "date": fila[0].text.strip(),
                "open": (fila[1].text),
                "max": (fila[2].text),
                "min": (fila[3].text),
                "close": (fila[4].text),
                "volume": (fila[6].text)

            }
            tabla_btc.append(crypto)
    
    tabla_btc = pd.DataFrame(tabla_btc)
    tabla_btc.head()
    
    for value in range(0, len(tabla_btc)):
        tabla_btc['crypto'] = 'bitcoin'
    
    
    url_eth = "https://es.finance.yahoo.com/quote/ETH-EUR/history?p=ETH-EUR"
    html = requests.get(url_eth)
    soup = BeautifulSoup(html.content,"html.parser")

    table = soup.find_all('table')[0]
    body = table.find_all('tbody')[0]

    tabla_eth = []
    for f in body.find_all("tr"): #lista con las filas de la  tabla
        fila = [e for e in f.find_all("td")] # elementos dentro de la fila
        if len(fila) > 0 :
            crypto = {
                "date": fila[0].text.strip(),
                "open": (fila[1].text),
                "max": (fila[2].text),
                "min": (fila[3].text),
                "close": (fila[4].text),
                "volume": (fila[6].text)

            }
            tabla_eth.append(crypto)
        
    tabla_eth = pd.DataFrame(tabla_eth)
    tabla_eth.head()
    
    for value in range(0, len(tabla_eth)):
        tabla_eth['crypto'] = 'ethereum'
    
    url_bch = "https://es.finance.yahoo.com/quote/BCH-EUR/history?p=BCH-EUR"
    html = requests.get(url_bch)
    soup = BeautifulSoup(html.content,"html.parser")

    table = soup.find_all('table')[0]
    body = table.find_all('tbody')[0]

    tabla_bch = []
    for f in body.find_all("tr"): #lista con las filas de la  tabla
        fila = [e for e in f.find_all("td")] # elementos dentro de la fila
        if len(fila) > 0 :
            crypto = {
                "date": fila[0].text.strip(),
                "open": (fila[1].text),
                "max": (fila[2].text),
                "min": (fila[3].text),
                "close": (fila[4].text),
                "volume": (fila[6].text)

            }
            tabla_bch.append(crypto)
        
    tabla_bch = pd.DataFrame(tabla_bch)
    tabla_bch.head()
    
    for value in range(0, len(tabla_bch)):
        tabla_bch['crypto'] = 'bitcoincash'
        
    url_ksm = "https://es.finance.yahoo.com/quote/KSM-EUR/history?p=KSM-EUR"
    html = requests.get(url_ksm)
    soup = BeautifulSoup(html.content,"html.parser")

    table = soup.find_all('table')[0]
    body = table.find_all('tbody')[0]

    tabla_ksm = []
    for f in body.find_all("tr"): #lista con las filas de la  tabla
        fila = [e for e in f.find_all("td")] # elementos dentro de la fila
        if len(fila) > 0 :
            crypto = {
                "date": fila[0].text.strip(),
                "open": (fila[1].text),
                "max": (fila[2].text),
                "min": (fila[3].text),
                "close": (fila[4].text),
                "volume": (fila[6].text)

            }
            tabla_ksm.append(crypto)
        
    tabla_ksm = pd.DataFrame(tabla_ksm)
    tabla_ksm.head()
    
    for value in range(0, len(tabla_ksm)):
        tabla_ksm['crypto'] = 'kusama'
        
    url_bnb = "https://es.finance.yahoo.com/quote/BNB-EUR/history?p=BNB-EUR"
    html = requests.get(url_bnb)
    soup = BeautifulSoup(html.content,"html.parser")

    table = soup.find_all('table')[0]
    body = table.find_all('tbody')[0]

    tabla_bnb = []
    for f in body.find_all("tr"): #lista con las filas de la  tabla
        fila = [e for e in f.find_all("td")] # elementos dentro de la fila
        if len(fila) > 0 :
            crypto = {
                "date": fila[0].text.strip(),
                "open": (fila[1].text),
                "max": (fila[2].text),
                "min": (fila[3].text),
                "close": (fila[4].text),
                "volume": (fila[6].text)

            }
            tabla_bnb.append(crypto)
        
    tabla_bnb = pd.DataFrame(tabla_bnb)
    tabla_bnb.head()
    
    for value in range(0, len(tabla_bnb)):
        tabla_bnb['crypto'] = 'binance_coin'
        
    url_ltc = "https://es.finance.yahoo.com/quote/LTC-EUR/history?p=LTC-EUR"
    html = requests.get(url_ltc)
    soup = BeautifulSoup(html.content,"html.parser")

    table = soup.find_all('table')[0]
    body = table.find_all('tbody')[0]

    tabla_ltc = []
    for f in body.find_all("tr"): #lista con las filas de la  tabla
        fila = [e for e in f.find_all("td")] # elementos dentro de la fila
        if len(fila) > 0 :
            crypto = {
                "date": fila[0].text.strip(),
                "open": (fila[1].text),
                "max": (fila[2].text),
                "min": (fila[3].text),
                "close": (fila[4].text),
                "volume": (fila[6].text)

            }
            tabla_ltc.append(crypto)
        
    tabla_ltc = pd.DataFrame(tabla_ltc)
    tabla_ltc.head()
    
    for value in range(0, len(tabla_ltc)):
        tabla_ltc['crypto'] = 'lite_coin'
    
    url_btg = "https://es.finance.yahoo.com/quote/BTG-EUR/history?p=BTG-EUR"
    html = requests.get(url_btg)
    soup = BeautifulSoup(html.content,"html.parser")

    table = soup.find_all('table')[0]
    body = table.find_all('tbody')[0]
    
    tabla_btg = []
    for f in body.find_all("tr"): #lista con las filas de la  tabla
        fila = [e for e in f.find_all("td")] # elementos dentro de la fila
        if len(fila) > 0 :
            crypto = {
                "date": fila[0].text.strip(),
                "open": (fila[1].text),
                "max": (fila[2].text),
                "min": (fila[3].text),
                "close": (fila[4].text),
                "volume": (fila[6].text)

            }
            tabla_btg.append(crypto)
        
    tabla_btg = pd.DataFrame(tabla_btg)
    tabla_btg.head()
    
    for value in range(0, len(tabla_btg)):
        tabla_btg['crypto'] = 'bitcoin_gold'

    crypto_table = pd.concat([tabla_btc, tabla_eth, tabla_bch, tabla_ksm, tabla_bnb, tabla_ltc, tabla_btg])
    
    crypto_table.to_csv('crypto_table.csv', index=False)
    
    return crypto_table

In [161]:
crypto_scrapping()

,date,open,max,min,close,volume,crypto
0,10 abr. 2021,"49.261,32","51.454,55","48.792,64","50.655,14",46.789.427.200,bitcoin
1,09 abr. 2021,"48.950,57","49.553,62","48.623,29","48.942,11",39.203.438.637,bitcoin
2,08 abr. 2021,"47.252,96","48.956,29","47.064,21","48.948,38",44.525.448.347,bitcoin
3,07 abr. 2021,"49.003,69","49.448,04","46.868,35","47.210,02",63.716.039.208,bitcoin
4,06 abr. 2021,"50.073,36","50.336,08","48.681,75","49.008,61",55.632.948.185,bitcoin
...,...,...,...,...,...,...,...
95,05 ene. 2021,"7,27","7,63","7,09","7,43",15.556.363,bitcoin_gold
96,04 ene. 2021,"7,26","7,90","6,73","7,27",15.538.202,bitcoin_gold
97,03 ene. 2021,"7,01","7,36","6,91","7,28",13.172.642,bitcoin_gold
98,02 ene. 2021,"6,99","7,28","6,91","7,01",9.774.290,bitcoin_gold
99,01 ene. 2021,"6,88","7,12","6,85","6,99",5.721.252,bitcoin_gold

In [162]:
crypto_table = pd.read_csv("data/crypto_table.csv",encoding = "ISO-8859-1", dtype=str)
crypto_table.columns = crypto_table.columns.str.rstrip() #Eliminamos si hubiera espacio al final de cada titulo de columna

In [163]:
crypto_table

,date,open,max,min,close,volume,crypto
0,10 abr. 2021,"49.261,32","51.454,55","48.792,64","50.655,14",46.789.427.200,bitcoin
1,09 abr. 2021,"48.950,57","49.553,62","48.623,29","48.942,11",39.203.438.637,bitcoin
2,08 abr. 2021,"47.252,96","48.956,29","47.064,21","48.948,38",44.525.448.347,bitcoin
3,07 abr. 2021,"49.003,69","49.448,04","46.868,35","47.210,02",63.716.039.208,bitcoin
4,06 abr. 2021,"50.073,36","50.336,08","48.681,75","49.008,61",55.632.948.185,bitcoin
...,...,...,...,...,...,...,...
695,05 ene. 2021,"7,27","7,63","7,09","7,43",15.556.363,bitcoin_gold
696,04 ene. 2021,"7,26","7,90","6,73","7,27",15.538.202,bitcoin_gold
697,03 ene. 2021,"7,01","7,36","6,91","7,28",13.172.642,bitcoin_gold
698,02 ene. 2021,"6,99","7,28","6,91","7,01",9.774.290,bitcoin_gold
699,01 ene. 2021,"6,88","7,12","6,85","6,99",5.721.252,bitcoin_gold

In [167]:
crypto_table["date"] = [str(fecha.replace('ene.', '-01-')) for fecha in crypto_table["date"]] 
crypto_table["date"] = [str(fecha.replace('feb.', '-02-')) for fecha in crypto_table["date"]]
crypto_table["date"] = [str(fecha.replace('mar.', '-03-')) for fecha in crypto_table["date"]]
crypto_table["date"] = [str(fecha.replace('abr.', '-04-')) for fecha in crypto_table["date"]]
crypto_table["date"] = [str(fecha.replace('may.', '-05-')) for fecha in crypto_table["date"]]
crypto_table["date"] = [str(fecha.replace('jun.', '-06-')) for fecha in crypto_table["date"]]
crypto_table["date"] = [str(fecha.replace('jul.', '-07-')) for fecha in crypto_table["date"]]
crypto_table["date"] = [str(fecha.replace('ago.', '-08-')) for fecha in crypto_table["date"]]
crypto_table["date"] = [str(fecha.replace('sept.', '-09-')) for fecha in crypto_table["date"]]
crypto_table["date"] = [str(fecha.replace('oct.', '-10-')) for fecha in crypto_table["date"]]
crypto_table["date"] = [str(fecha.replace('nov.', '-11-')) for fecha in crypto_table["date"]]
crypto_table["date"] = [str(fecha.replace('dic.', '-12-')) for fecha in crypto_table["date"]]

In [168]:
crypto_table["date"]

0      10 -04- 2021
1      09 -04- 2021
2      08 -04- 2021
3      07 -04- 2021
4      06 -04- 2021
           ...
695    05 -01- 2021
696    04 -01- 2021
697    03 -01- 2021
698    02 -01- 2021
699    01 -01- 2021
Name: date, Length: 700, dtype: object

In [170]:
import datetime
def date_convert(date_to_convert):
     return datetime.datetime.strptime(date_to_convert, '%d -%m- %Y').strftime('%d-%m-%Y')

crypto_table.date = crypto_table.date.apply(date_convert)

In [171]:
crypto_table["date"]

0      10-04-2021
1      09-04-2021
2      08-04-2021
3      07-04-2021
4      06-04-2021
          ...
695    05-01-2021
696    04-01-2021
697    03-01-2021
698    02-01-2021
699    01-01-2021
Name: date, Length: 700, dtype: object

In [172]:
crypto_table.head()

,date,open,max,min,close,volume,crypto
0,10-04-2021,"49.261,32","51.454,55","48.792,64","50.655,14",46.789.427.200,bitcoin
1,09-04-2021,"48.950,57","49.553,62","48.623,29","48.942,11",39.203.438.637,bitcoin
2,08-04-2021,"47.252,96","48.956,29","47.064,21","48.948,38",44.525.448.347,bitcoin
3,07-04-2021,"49.003,69","49.448,04","46.868,35","47.210,02",63.716.039.208,bitcoin
4,06-04-2021,"50.073,36","50.336,08","48.681,75","49.008,61",55.632.948.185,bitcoin